$cool-blue: #0076d0;
$error-orange: #ffbf00;

h1{
	text-align: center;
	padding: 1em;
}

textarea{
	height: 300px;
}
header{
	
	font-size: 3em;
	background: $cool-blue;
}
footer{
	height: 7em;
	position: relative;
	background: $cool-blue;
}
.row{
	padding: 0 0 5em 0em;
}
.row .errors{
	padding: 0px;
}

#error_explanation, #error_explanation h2{
	color: $error-orange;
	font-weight: bold;	
}
.each_project{
	background: yellow;
	margin: 1em 0;
	padding: 1em 0;
}