$cool-blue: #0076d0;

h1{
	text-align: center;
	padding: 1em;
}

textarea{
	height: 300px;
}
header{
	
	font-size: 3em;
	background: $cool-blue;
}
footer{
	height: 7em;
	position: relative;
	background: $cool-blue;
}
.row{
	padding: 5em 0em;
}
