$cool-blue: #0076d0;
$error-orange: #ffbf00;
$killer-grey: #F9F8F6;

h1{
	text-align: center;
	padding: .25em;
	background: orange;
}

textarea{
	height: 300px;
}
header a{
	text-decoration: none;
	color: black;
}
header a:hover{
	text-decoration: none;
	color: grey;
}
header{
	padding: .25em;
	font-size: 3em;
	background: $cool-blue;
}
footer{
	height: 7em;
	position: relative;
	background: $cool-blue;
}
a:link{
	color: black;
}
a:hover{
	color: $cool-blue;
}
a:visited{
	color: black;
}
a:visited:hover{
	color: $cool-blue;
}

.row{
	/*padding: 0 0 5em 0em;*/
}
.row .errors{
	padding: 0px;
}

#error_explanation, #error_explanation h2{
	color: $error-orange;
	font-weight: bold;	
}
.each_project{
	padding: .75em;
	margin: .5em;
	border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
}
.each_project:hover{
	background: $killer-grey
}

.project-title{
	float: left;
	width: 70%;
	text-align: center;
	font-style: italic;
	}
	.project-description{
		float: left;
		width: 70%;
		font-size: .75em;
		padding: .6em;
	}
	.project-goal{
		float: right;
		width: 30%;
		padding: 0 0 .5em 0;
		text-align: right;
		font-size: 1.6em;
	}

	.finish-date{
		float: right;
		width: 30%;
		padding: 0 0 .5em 0;
		text-align: right;
		font-size: 1.2em;
	}
	.total-raised{
		display: block;
		font-style: italic;
		text-align: right;
		font-size: .75em;
	}
	.goal-date{
		display: block;
		text-align: right;
		font-style: italic;
		font-size: .75em;
	}

	.categories-tags{
		width: 70%;
		float: left;
		font-size: .8em;

	}