$cool-blue: #0076d0;
$error-orange: #ffbf00;
$killer-grey: #F9F8F6;

h1, h6{
 text-align: center;
}


textarea{
	height: 300px;
}

footer{
	height: 7em;
	position: relative;
	background: $cool-blue;
}



.row .errors{
	padding: 0px;
}

#error_explanation, #error_explanation h2{
	color: $error-orange;
	font-weight: bold;	
}
.each_project{
	padding: .75em;
	margin: .5em;
	border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
}
.each_project:hover{
	background: $killer-grey
}

.project-title{
	float: left;
	width: 70%;
	text-align: center;
	font-style: italic;
	}
	.project-description{
		float: left;
		width: 70%;
		font-size: .75em;
		padding: .6em;
	}
	.project-goal{
		float: right;
		width: 30%;
		padding: 0 0 .5em 0;
		text-align: right;
		font-size: 1.6em;
	}

	.finish-date{
		float: right;
		width: 30%;
		padding: 0 0 .5em 0;
		text-align: right;
		font-size: 1.2em;
	}
	.total-raised{
		display: block;
		font-style: italic;
		text-align: right;
		font-size: .75em;
	}
	.goal-date{
		display: block;
		text-align: right;
		font-style: italic;
		font-size: .75em;
	}

	.categories-tags{
		width: 70%;
		float: left;
		font-size: .8em;

	}


	.user-area{
		font-size: .5em;
		
		float: right;
		background: green;
	}

	.space{
	margin: 3px;
	border: 1px solid black;
	height: 24em;
	border-radius: 3px;
	}
	.hello{
		background: orange;
	}
	.goodbye{
		background: #ff00ff;
	}
.project-stats{
	float: left;
	margin-right: 1em;
}
.percentage{
	float: left;
	font-size: 4em;
}
.owners-info{
	padding: 1em 0;
	margin: 1em 0;
	clear:both;
}
.forming{
	margin: 1em 0;
	background: green;
}
.dates{
	margin: 1em;
	float: left;
}


/****************/

.owners-info h6{
	text-align: left;
}
.owners-info h5{
	text-align: center;
}
#contribution-form{
	display: none;
	padding: 0;
}

.contibution-form h4{
	text-align: left;
	background: pink;
}
#breakpoint-form{
	display: none;
	padding: 0;
} 

.front-description{
	font-size: .85em;
	line-height: .9em;
	font-family: open-sans;
}
.owner-name h6{
	text-align: left;
}
.stats-content{
	font-size: .1em;
}
.breakpoint-table{
	margin: auto;
}

.breakpoints h4{
	text-align: center;
}

.bigspace{
	height:1000px;
}

.big-yellow{
	background: yellow;
	margin: 2em;
}
.review-box{
	height: 3em;
}
.contribution-table{
	width: 100%;
}